<?xml version="1.0" encoding="utf-8" ?>
<FullTextSearch enabled="true">

  <Indexing>

    <!--
    The name of the field containing the title of the page in the index.
    The default value is nodeName. You can also override this when searching.
    -->
    <DefaultTitleField>nodeName</DefaultTitleField>

    <!--
    When rendering, FullTextSearch adds this as a key in HttpContext.Items[],
    so you can use that to send different content to the indexer.
    The default value is FullTextActive
    -->
    <IndexingActiveKey>FullTextActive</IndexingActiveKey>

    <DisallowedAliases>

      <!--
      Aliases of content types that should NOT be indexed by FullTextSearch.
      If you add an alias here, the nodes of that alias will not be rendered and
      indexed by FullTextSearch. By default nodes without templates are excluded,
      so you don't need to add them here. Adding to this config on a site already
      indexed doesn't clean the index. You have to do this manually - but the
      search will exclude nodes of the disallowed types for you.
      -->
      <ContentTypes>
        <!--
          <add>settings</add>
          <add>searchResultPage</add>
        -->
      </ContentTypes>

      <!--
      You can use this setting to create your own "umbracoNaviHide" for FullTextSearch.
      Add a boolean property to your document type, and reference its alias in this setting.
      If the node has that property set to true, it will be excluded from full text indexing.
      Adding to this config on a site already indexed doesn't clean the index.
      You have to do this manually - but the search will exclude nodes with the disallowed
      properties for you.
      -->
      <Properties>
        <!--
          <add>umbracoSearchHide</add>
        -->
      </Properties>

    </DisallowedAliases>

    <!--
    When indexing rendered content, elements in the html output matching regexes in this
    field is removed.
    -->
    <XpathsToRemove>
      <!--
        <add>//script</add>
        <add>//head</add>
      -->
    </XpathsToRemove>

    <ExamineFieldNames>

      <!--
      The field name where FullTextSearch should store the rendered full text.
      The default of this is FullTextContent.
      -->
      <FullTextContent>FullTextContent</FullTextContent>

      <!--
      FullTextSearch uses its own path field in examine, to be able to filter nodes by root node.
      You can configure the name of this here. The default value is FullTextPath.
      -->
      <FullTextPath>FullTextPath</FullTextPath>

    </ExamineFieldNames>
  </Indexing>

</FullTextSearch>