<div ng-controller="Our.Umbraco.FullTextSearch.Dashboard.SearchController as vm">
    <umb-box>
        <umb-box-header title-key="fullTextSearch_search"></umb-box-header>
        <umb-box-content>
            <form ng-submit="vm.search.performSearch()">
                <div class="flex">
                    <div class="flx-g1">
                        <input type="text" name="search" ng-model="vm.search.searchTerms" style="width:100%" placeholder="{{ vm.dictionaryKeys.fullTextSearch_enterKeywordsHere }}" />
                    </div>
                    <div>
                        <umb-button type="submit"
                                    button-style="primary"
                                    label-key="fullTextSearch_search"
                                    action="vm.search.performSearch()">
                        </umb-button>
                    </div>
                </div>
                <div class="flex">
                    <umb-toggle checked="vm.search.advancedSettings != null"
                                label-on="{{ vm.dictionaryKeys.fullTextSearch_advancedSettings }}"
                                show-labels="true"
                                label-off="{{ vm.dictionaryKeys.fullTextSearch_advancedSettings }}"
                                label-position="right"
                                on-click="vm.search.toggleAdvancedSettings()"
                                hide-icons="true"></umb-toggle>
                    <button type="button" class="btn-link btn-small" style="text-transform:lowercase;margin-left:1ex;" ng-click="vm.search.showAdvancedSettings()" ng-show="vm.search.advancedSettings != null">
                        (<localize key="user_change">Change</localize>)
                    </button>
                </div>
            </form>
            <umb-loader position="bottom" ng-show="vm.search.loading"></umb-loader>
        </umb-box-content>
    </umb-box>

    <umb-box ng-if="!vm.search.loading && vm.search.items.length > 0">
        <umb-box-content>
                <div class="umb-node-preview" style="max-width:none;flex-wrap:nowrap;" ng-repeat="item in vm.search.items track by item.id">
                    <div class="flex">
                        <i class="umb-node-preview__icon {{ item.icon }}" aria-hidden="true">
                        </i>
                        <div class="umb-node-preview__content">
                            <div class="flex">
                                <div class="umb-node-preview__name">
                                    <button type="button" class="umb-node-preview__name btn-link btn-reset" ng-bind-html="item.name" ng-click="vm.search.inspect(item)">
                                    </button>
                                </div>
                            </div>
                            <div class="umb-node-preview__description" ng-bind-html="item.description">
                            </div>
                        </div>
                    </div>
                    <div class="umb-node-preview__actions">
                        <button type="button" class="umb-node-preview__action btn-link" ng-click="vm.search.inspect(item)">
                            <localize key="fullTextSearch_inspect"></localize>
                        </button>
                    </div>
                </div>

                <div class="flex justify-center">
                    <umb-pagination ng-show="vm.search.totalPages"
                                    page-number="vm.search.currentPage"
                                    total-pages="vm.search.totalPages"
                                    on-next="vm.search.getData"
                                    on-prev="vm.search.getData"
                                    on-go-to-page="vm.search.getData">
                    </umb-pagination>
                </div>

                <umb-empty-state ng-if="!vm.search.loading && vm.search.items.length == 0">
                    <localize key="content_noItemsToShow">There are no items to show</localize>
                </umb-empty-state>
        </umb-box-content>
    </umb-box>
</div>
