<div ng-controller="Our.Umbraco.FullTextSearch.Dashboard.ReindexController as vm">
    <umb-box>
        <umb-box-header title-key="fullTextSearch_reindexNodes" title="Reindex Nodes">
            <div style="height:32px;"></div> <!-- to align with the left box -->
        </umb-box-header>
        <umb-box-content>
            <div class="form-horizontal">
                <div class="umb-property">
                    <ng-form name="propertyForm">
                        <div class="control-group umb-control-group">

                            <div class="umb-el-wrap">

                                <div class="control-header">
                                    <label class="control-label">
                                        <localize key="fullTextSearch_reindex">Reindex</localize>
                                    </label>

                                    <small class="control-description">
                                        <localize key="fullTextSearch_reindexDescription">Select whether or not to reindex all nodes</localize>
                                    </small>
                                </div>

                                <div class="controls">
                                    <umb-toggle checked="!vm.reindexNodes.pickNodes"
                                                on-click="vm.reindexNodes.togglePickNodes()"
                                                show-labels="true"
                                                label-on="{{ vm.dictionaryKeys.fullTextSearch_allNodes }}"
                                                label-off="{{ vm.dictionaryKeys.fullTextSearch_selectedNodes }}"
                                                label-position="right"
                                                hide-icons="true"></umb-toggle>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>

                <div class="umb-property" ng-if="vm.reindexNodes.pickNodes">
                    <ng-form name="propertyForm">
                        <div class="control-group umb-control-group">

                            <div class="umb-el-wrap">

                                <div class="control-header">
                                    <label class="control-label">
                                        <localize key="fullTextSearch_selectNodes">Select nodes</localize>
                                    </label>

                                    <small class="control-description">
                                        <localize key="fullTextSearch_selectNodesDescription">Select the nodes to reindex</localize>
                                    </small>
                                </div>

                                <div class="controls">
                                    <div class="mb2">
                                        <umb-property-editor model="vm.reindexNodes.pickedNodes"></umb-property-editor>
                                    </div>
                                    <umb-toggle checked="vm.reindexNodes.includeDescendants"
                                                on-click="vm.reindexNodes.toggleIncludeDescendants()"
                                                show-labels="true"
                                                label-on="{{ vm.dictionaryKeys.fullTextSearch_includeDescendants }}"
                                                label-off="{{ vm.dictionaryKeys.fullTextSearch_includeDescendants }}"
                                                label-position="right"
                                                hide-icons="true">
                                    </umb-toggle>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>

                <div class="umb-property">
                    <ng-form name="propertyForm">
                        <div class="control-group umb-control-group">

                            <div class="umb-el-wrap">

                                <div class="control-header">
                                    <label class="control-label">
                                    </label>
                                </div>

                                <div class="controls">
                                    <umb-button action="vm.reindexNodes.reindex()"
                                                type="button"
                                                button-style="action"
                                                label-key="fullTextSearch_reindexNodes"
                                                label="Reindex Nodes"
                                                state="vm.reindexNodes.buttonState"></umb-button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
</div>